/* Styles the header */
header {
  position: relative;
  height: 95vh;
  max-height: 95vh;
  background: url(../ASSETS/hero-beach.jpg) center/cover no-repeat;
  background-color: hsl(0, 0%, 31%);
  background-blend-mode: overlay;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Styles the heading within the header */
header h1 {
  text-decoration: none;
  margin-top: 0em;
  font-size: 5em;
  margin-bottom: 0em;
  color: hsl(0, 0%, 100%);
  border-bottom: double 0.1em yellow;
}

/* Styles the hover effect for gradient elements */
.gradient-hover {
  display: flex;
  margin-top: 3em;
  padding: 1em 2em;
  background: linear-gradient(90deg, hsl(186, 38%, 52%), transparent)
    hsl(186, 38%, 52%);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 1.1em;
  font-weight: 700;
  border-radius: 0.5em;
  color: hsl(0, 0%, 100%);
  text-decoration: none;
  transition: background-color 1s;
  place-content: center;
  transition: transform 200ms ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.gradient-hover:hover,
.gradient-hover-effect:focus {
  background-color: hsl(260, 36%, 43%);
  color: hsl(0, 0%, 100%);
  transform: scale(1.05);
  transition: transform 200ms ease-in-out;
}

/* Styles the 'home' link in the navigation bar */
nav .home {
  color: hsl(260, 36%, 43%);
}

/* Styles the grid layout */
.grid {
  padding-top: 0;
}

/* Styles the links within the articles */
.article-link {
  text-decoration: none;
}

/* Styles for the card */
.card {
  background-color: #f9f9f9;
  border-radius: 0.5em;
  border: 2px solid white;
  overflow: hidden;
  cursor: pointer;
  transition: transform 200ms ease-in;
  text-decoration: none;
}

/* Styles the images within the card */
.card img {
  display: block;
  width: 100%;
  height: auto;
}

/* Styles the content within the card */
.card-content {
  padding: 0.625em;
}

/* Styles the heading 2 */
h2 {
  margin-top: 0;
  margin-bottom: 0.3125em;
  font-size: 1.4em;
  color: hsl(260, 36%, 43%);
}

/* Styles the paragraphs */
p {
  margin: 0;
  font-size: 1.2em;
  color: hsl(186, 38%, 52%);
}

/* Hover effect for the card */
.card:hover {
  transform: scale(1.05);
  border: 2px solid hsl(260, 36%, 43%);
  transition: transform 200ms ease-in;
}

/* Media query for screens with a minimum width of 751px */
@media (min-width: 751px) {
  /* Styles the grid layout */
  .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.25em;
    padding: 1.25em;
    margin-bottom: 1em;
    margin-top: 1em;
  }
}

/* Media query for screens up to 750px wide */
@media only screen and (max-width: 750px) {
  /* Adjusts the font size of the heading 1 within the header */
  header h1 {
    font-size: 3em;
  }

  /* Adjusts the padding and font size of the gradient hover effect */
  .gradient-hover {
    padding: 1em 1em;
    font-size: 1em;
  }

  /* Styles the grid layout for smaller screens */
  .grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2em;
    padding: 2em;
    margin-bottom: 2em;
  }

  /* Adjusts the font size of the heading 1 within the shop section */
  .shop-h1 {
    font-size: 16px;
  }
}